  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');


  body, html{
    width: 100%;
    font-family:sans-serif;
    background-color:#242526;
    color:#d8d8d8;
  }

  h1 { 
    font-size: 100%;
  }

  h2 {
    font-size: 100%;
  }

  a {
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .title{
    text-align: center;
    margin: auto;
    width: 70%;
    border: none;
    padding: 10px;
    font-size: 175%;
    display: block;
  }

  .about{
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    margin-left: 2em;
    display: block;
  }
  


  @media screen and (max-width: 600px) {
    .navbar a, .navbar div{
      float: none;
      width: 100%;
    }
    .dropdown-content, .dropbtn a:hover .dropdown-content{
      display: none;

    }
  }