@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');


body, html{
    width: 100%;
    font-family: 'Source Code Pro';
    background-color: black;
}

div{
    display: block;
}
h1 { 
    font-size: 100%;
    font-family: 'Source Code Pro';
}

.title{
    text-align: center;
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
    font-size: 175%;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }