  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');


  body, html{
    width: 100%;
    font-family: 'Sans-Serif';
    background-color:#242526;
    color:#d8d8d8;
  }

  div{
    display: block;
  }

  h1 { 
    font-size: 100%;
  }

  h2{
    font-size: 100%;
  }

  a {
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }

  .title{
    text-align: center;
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
    font-size: 175%;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .about{
    font-size: 100%;
    text-decoration: none;
    margin-left: 2em;
    float: left;
    display: block;
  }
  

  .scripts a {
    padding: 0.5rem 0.1
    rem 0.5rem 0.2rem;
    font-size: 120%;
    text-decoration: none;
    color: white;

  }

  .scripts a:hover{
    text-decoration: underline;
    background-color: white;
    color: black;
  }

  .scripts div{
    text-decoration: none;
    display: block;
    text-align: center;
  }








  