@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');


body, html{
    width: 100%;
    font-family: 'Source Code Pro';
}


h1 { 
    font-size: 100%;
    font-family: 'Source Code Pro';
}
