  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');


  body, html{
    min-width: 400px;
    width: 100%;
    font-family:sans-serif;
    background-color:#242526;
    color:#d8d8d8;
  }

  h1 { 
    font-size: 100%;
  }

  h2 {
    font-size: 100%;
  }

  a {
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .whitespace{
    margin:10em;
  }
  .block{
    text-align: center;
    margin: auto;
    border: none;
  }
  .title{
    text-align: center;
    margin: auto;
    width: 70%;
    border: none;
    padding: 10px;
    font-size: 175%;
    display: block;
  }
  
  .clock{
    bottom: 0px;
    right: 0px;
    position: absolute;
    text-align: right;
  }

  .about{
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    margin-left: 2em;
    display: block;
  }
  
  .social {
    text-align: center;
    display: block;
    font-size:2em;
    bottom: 0px;
    position: absolute;
  }
/*
Navigation Section of CSS
*/
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    margin: 0;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/*
Responsive CSS for Navigation
*/ 
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
