  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');


  body, html{
    width: 100%;
    font-family:sans-serif;
    background-color:#242526;
    color:#d8d8d8;
  }

<<<<<<< HEAD
  label{
    color: white;
    width: 10em;
    display: inline-block;
    padding-bottom: 1rem;
    text-align: right;
  }
  input{
    width: 11rem;
  }
  .signup button{
    margin-left: 10.7rem;
    width: 11rem;
    font-family: 'Source Code Pro';
    padding: 0px;
    text-align: center;
    border-style: solid;
  }
  .signup button:hover{
    background-color: black;
    color: white;
  }
  form{
    display: block;
  }
  form button{
    text-align: center;
  }
 
  div{
    display: block;
  }
=======
>>>>>>> e189ac27108c3c3dfda6ec1c8c2d8194ad17bc45
  h1 { 
    font-size: 100%;
  }

  h2{
    font-size: 100%;
  }
<<<<<<< HEAD
  p{
    font-size:100%;
  }

  .scripts p{
    color: white;
=======

  a {
    color: white;
    float: left;
    margin: none;
    padding: none;

>>>>>>> e189ac27108c3c3dfda6ec1c8c2d8194ad17bc45
  }
  a:hover {
    text-decoration: underline;
  }

  .title{
    text-align: center;
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
    font-size: 175%;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    border-radius: 10px;
  }
  
  .navbar a{
    float: left;
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    -webkit-transition: all .25s ease;
	  -moz-transition: all .25s ease;
	  -ms-transition: all .25s ease;
	  -o-transition: all .25s ease;
	  transition: all .25s ease;
    border-radius: 10px;
  }

  .navbar div{
    -webkit-transition: all .25s ease;
	  -moz-transition: all .25s ease;
	  -ms-transition: all .25s ease;
	  -o-transition: all .25s ease;
	  transition: all .25s ease;
  }
  .dropdown div{
    float:right;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: red;
  }
  
  .dropdown-content {
    transition: ease-in;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    padding-right: 3px;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #333;
    visibility: visible;
    transition-duration: 2s;
    transition-timing-function: linear;
    z-index: 1;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    color: white;
  }
  
  .about{
    font-size: 100%;
    text-decoration: none;
    margin-left: 2em;
    float: left;
    display: block;
  }
  
  .scripts {
    width: 100%;
    display: block;
  }
  .scripts a {
    margin: 10px;
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 120%;
    text-decoration: none;
    color: white;
    display: inline-block;
  }

  .scripts a:hover{
    background-color: white;
    color: black;
  }

  .scripts div{
    text-decoration: none;
    display: block;
    text-align: center;
  }


  @media screen and (max-width: 600px) {
    .navbar a, .navbar div{
      float: none;
      width: 100%;
    }
    .dropdown-content, .dropbtn a:hover .dropdown-content{
      display: none;

    }
  }